<div class="main-container">
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-custom">
        <h2 class="">New Beer Debt</h2>
    </div>
</div>
<div class="row" style="width: 50%">
    <div class="col-sm-4">
        <label>Who</label>
        <br />
        <input id="debt-who" class="form-control" name="who" type="text" ng-model="debt.who">
    </div>
</div>
<div class="row" style="width: 50%">
    <div class="col-sm-4">
        <label>Quantity</label>
        <br />
        <input id="debt-quantity" class="form-control" name="quantity" type="text" ng-model="debt.quantity">
    </div>
</div>
<div class="row" style="width: 50%">
    <div class="col-sm-4">
        <label>Reasons</label>
        <br />
        <input id="debt-reasons" class="form-control" name="reasons" type="text" ng-model="debt.reasons">
    </div>
</div>
<br />
<div class="row" style="width: 50%">
    <div class="col-md-12">
        <a class="btn btn-default" ng-href="#/">Cancel</a>
        <button class="btn btn-default" ng-click="debt.createDebt()">Create via xe:RestService</button>
        <button class="btn btn-default" ng-click="debt.createDebtAgent()">Create via Lotus Script Agent</button>
    </div>
</div>
